<div text-center class="digit-row">
  <input type="password" maxlength="1" id="1" text-center (input)="nextInput(2)">
  <input type="password" maxlength="1" id="2" text-center (input)="nextInput(3)">
  <input type="password" maxlength="1" id="3" text-center (input)="nextInput(4)">
    <input type="password" maxlength="1" id="4" text-center (input)="nextInput(5)">
      <input type="password" maxlength="1" id="5" text-center (input)="nextInput(6)">
  <input type="password" maxlength="1" id="6" text-center (input)="completeInput()">
</div>