
.digit-row
{
  width:600px;
  margin:auto;
}

.digit-row input{
  height:80px;
  width:80px;
  line-height:60px;
  font-size:40px;
  border:4px solid #00b7bd;
  border-radius:30px;
}

.loading-md .spinner-crescent circle, .loading-md .spinner-ios line, .loading-md .spinner-ios-small line {
    stroke: #00b7bd;
}



.pin-bg
{
  background-clip: content-box;
   background: url('https://www.mico.co.nz/media/2612/shower.jpg?anchor=center&mode=crop&width=1360&height=765&rnd=132386030310000000');
   background-repeat:no-repeat;
   background-size:cover;

}